.stt {
    width: 10px !important;
}

.min-height-700{
    min-height: 700px !important;
}
.order-ticket-detail h5{
    margin-top: 15px;
}
.options-payment{
    position: absolute;
    top: 20px;
    left:0px;
    padding: 6px 8px;
    background-color: #343a40;
    border-radius: 8px;
    display: none;

}
.a-link{
    text-decoration: underline;
}
.payment-status{
    cursor: pointer;
    position: relative;
}
.payment-status:hover .options-payment{
    display: block;
}
.options-payment p{

    padding: 2px 4px;
    border-radius: 4px;


}
.options-payment p:hover{
    background-color: rgb(255 255 255 / 10%);
}
.mota {
    border: none;
    outline: none;
    margin: -5px;
    border-radius: 5px;
}

.location-tr td p {
    margin: 2px 0px;
}

.data-span {
    font-weight: bold;
    color: black;
}

.edit-p {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.edit-span {
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
    color: blue;
}

.delete-span {
    font-weight: bold;
    cursor: pointer;
    color: red;
    font-size: 14pt;
}

.div-paginate {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: end;
}
.img-div-pre{
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 130px;

}
.img-div-pre img{
    object-fit: cover;
}
.nano-div{
    background-color: #05050547;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    transition: all .2s;
}
.img-div-pre:hover .nano-div{

    height: 100%;

}.img-div-pre:hover .delete-js-btn{

    top: 10px;

}

.delete-js-btn{
    position: absolute;
    color: white;
    right: 10px;
    top: -40px;
    font-size: 10pt;
    padding: 7px 10px;
    border-radius: 66px;
    background-color: rgb(255 70 0 / 99%);
    box-shadow: white 0px 0px 15px 6px;
    z-index: 15;
    transition: all .4s;
}

.location-row{
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.location-name{
    padding: 10px 20px;
    background-color: #c85900;
    color: white;
    border-radius: 8px;

}
.location-name p{
    font-size: 16pt;
    font-weight: bold;
}
.location-name:hover{
    background-color: #a95410;
}
.div-dropdown-loca-detail{
    padding: 10px 20px;
    display: none;


}
.div-btn-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.div-ticket-cols{
    border-top: #c85900 2px solid;
    padding: 15px 0px;
    margin-top: 10px;
}
.div-ticket-cols:first-child{
    border-top: none;
}
.div-dropdown-loca-detail span{
    font-weight: bold;
}
.div-dropdown-loca-detail p{
    font-size: 14pt;
    margin: 3px 0px;
}
.div-ticket-detail{
    margin-bottom: 20px;
    width: 100%;
    display: none;
    background-color: #0e1f33;
   color: white;
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;
    max-height: 1000px;
}
.div-ticket-detail tr span{
    color: white;
}
.tr-bg-hv:hover{
    background-color: #090e18 !important;
}
.table-round{
    border-radius: 8px;
    border-collapse: collapse;
  border-spacing: 0;
}

/* Drag & drop image profile */
    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }

    .file-upload-content {
        display: none;
        text-align: center;
    }

    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }

    .image-upload-wrap {
        margin-top: 20px;
        border: 4px dashed #007bff;
        position: relative;
    }

    .image-dropping,
    .image-upload-wrap:hover {
        background-color: #007bff;
        border: 4px dashed #ffffff;
    }

    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }

    .drag-text {
        text-align: center;
    }

    .drag-text h4 {
        font-weight: 400;
        color: #007bff;
        padding: 60px 0;
    }

    .image-upload-wrap:hover .drag-text h4{
        color: white;
    }

    .file-upload-image {
        max-height: 300px;
        max-width: 300px;
        margin: auto;
        padding: 20px;
    }
    .exist-file-upload-image{
        max-height: 200px;
        max-width: 200px;
        margin: auto;
        padding: 20px;
    }

    .remove-image {
        width: auto;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
    }

    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }



/* End Drag & drop image profile*/





.show-detail-user,.show-detail-user span{
    width: 100%;
    margin: 0px !important;
    text-align: right;
    font-size: 17px !important;
    color: #2299ff;
}
.show-detail-user:hover{
    text-decoration: underline;
}

.div-user-detail-ticket{
    width: 100%; 
    background-color: #fffcfb;
    border-radius: 10px;
    overflow: hidden;
}
.customer-info-h3{
    font-weight: bolder;
    padding: 10px 0px;
    text-align: center;
    color: black;
    
}
.tr-user-detail{
    background-color: #c95b00;
    color: white;
    text-align: center;
}
.tr-user-detail-ticket{
    display: none;
}